extends ../layout/index

block content
    div(class="px-6 py-24 sm:py-32 lg:px-8")
        div(class="max-w-2xl mx-auto text-center")
            h2(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl") ¡Gracias por registrarte!
            p(class="mt-6 text-lg leading-8 text-gray-600")
                | Antes de continuar, ¿Podrías verificar tu dirección de correo electrónico haciendo clic en el enlace que te enviamos a tu cuenta?
        </div>
    </div>
